// Стили для блока 'Header' и навигационного меню 'Nav'

.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    background-color: rgba(43, 43, 43, .5);
}

.nav {
    &__container {
        margin: 10px auto;
        max-width: 1280px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;

            a {
                color: var(--white-color);
                transition: .3s ease-in-out;

                &:hover {
                    color: var(--accent-color);
                }

                i {
                    display: block;
                    font-size: 24px;
                }
            }
        }

        &-input {
            width: 200px;
            vertical-align: middle;
            white-space: nowrap;
            position: relative;

            input#search {
                width: 300px;
                height: 50px;
                background: #2b303b;
                border: none;
                font-size: 14px;
                float: left;
                color: #63717f;
                padding-left: 45px;
                border-radius: 10px;
                transition: .3s ease-in-out;
                font-family: inherit;

                &:hover,
                &:focus,
                &:active {
                    outline: none;
                    background: #F2F2F2;
                    color: var(--accent-color);
                }
            }

            &-icon {
                position: absolute;
                top: 50%;
                margin-left: 17px;
                margin-top: 13px;
                z-index: 1;
                color: #4f5b66;
            }
        }
    }
}