<section class="video">
    <div class="video__container container">
        <div class="video__content">
            <h3 class="video__content-title">
                <a href="{{video.user.url}}" target="_blank">
                    <span>Author:</span>
                    {{video.user.name}}
                </a>
            </h3>

            <video
            autoplay
            controls
            class="video__content-video"
            src="{{video.video_files[0].link}}"
            width="1280"
            height="720"
            >
            </video>
        </div>

        <div class="video__submit">
            <div class="video__submit-form" id="form">
                <form [formGroup]="form" (ngSubmit)="sendForm()">
                    <span class="video__submit-form-subtitle">Leave a comment</span>
                    <label>
                        <div class="video__submit-form-text">
                            <textarea required name="text" type="text" formControlName="text"></textarea>
                        </div>
                    </label>

                    <span class="video__submit-form-name">Your Name</span>
                    <label>
                        <div class="video__submit-form-name">
                            <input required type="text" formControlName="name"/>
                        </div>
                    </label>

                    <div class="video__submit-form-btns" id="btns">
                        <button class="video__submit-form-btns-btn">Save</button>
                    </div>
                </form>
            </div>
            
            <div class="video__submit-comments" id="comments">
                <h4 class="video__submit-comments-title">Comments:</h4>

                <ul class="video__submit-comments-list">
                    <ng-container *ngFor="let comment of commentList | async">
                        <app-comments
                        *ngIf="comment.videoID === video.id"
                        [name]="comment.name"
                        [text]="comment.text"
                        [src]="comment.src"
                        >
                        </app-comments>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</section>