<div class="wrapper">
    <header class="header" id="header">
        <nav class="nav">
            <div class="nav__container">
                <ul class="nav__list">
                    <li class="nav__list-item">
                        <a class="nav__list-link" routerLink="/">
                            <i class='bx bxs-video nav__icon'></i>
                        </a>
                    </li>
        
                    <li class="nav__list-item">
                        <a class="nav__list-link" routerLink="/videos">
                            Videos
                        </a>
                    </li>
        
                    <li class="nav__list-item">
                        <div class="nav__list-input">
                            <span class="nav__list-input-icon"><i class='bx bx-search-alt nav__icon'></i></span>
                            <input type="search" id="search" placeholder="Search..." [(ngModel)]="search" class="nav__list-input"/>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>

<router-outlet></router-outlet>