// Styles For 'Header'
.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    backdrop-filter: blur(5px);
}

// Styles For 'Nav'
.nav {
    &__container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            font-size: var(--h2-font-size);
            font-weight: var(--font-bold);
            text-transform: uppercase;

            a {
                color: var(--first-color);
                transition: .3s ease-in-out;

                &:hover {
                    color: var(--first-color-alt);
                }

                i {
                    display: block;
                    font-size: transparent;
                }
            }

            &-link {
                letter-spacing: .225em;
            }

            &-input {
                width: 200px;
                vertical-align: middle;
                white-space: nowrap;
                position: relative;

                input::-ms-clear {
                    display: none;
                    width: 0;
                    height: 0;
                }
    
                input::-ms-reveal {
                    display: none;
                    width: 0;
                    height: 0;
                }

                input::-webkit-search-decoration,
                input::-webkit-search-cancel-button,
                input::-webkit-search-results-button,
                input::-webkit-search-results-decoration {
                    display: none;
                }

                input#search {
                    width: 300px;
                    height: 50px;
                    background-color: var(--input-color);
                    border: none;
                    font-size: var(--small-font-size);
                    float: left;
                    color: var(--first-color);
                    padding-left: 45px;
                    border-radius: 10px;
                    transition: .3s ease-in-out;
                    font-family: inherit;

                    &:hover,
                    &:focus,
                    &:active {
                        outline: none;
                        background-color: var(--first-color-lighter);
                        color: #000;
                    }
                }

                &-icon {
                    position: absolute;
                    top: 50%;
                    margin-left: var(--mb-16);
                    margin-top: var(--mb-10);
                    z-index: var(--z--tooltip);
                    color: #000;
                }
            }
        }
    }
}