<app-header></app-header>
<main class="main" id="main">
    <section class="home">
        <div class="home__container container">
            <h1 class="home__title">Welcome, Let's Search!</h1>

            <div class="home__content">
                <!-- Первая подборка -->
                <div class="home__content-first">
                    <h2 class="home__content-title">Топ Популярных Видео</h2>

                    <div class="home__content-cards">
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                        <app-video-card></app-video-card>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>