<main class="main" id="main">
    <section class="home">
        <div class="home__container">
            <h1 class="home__title">
                <span>Welcome,</span>
                <span>Let's</span>
                <span>Search!</span>
            </h1>

            <div class="home__content">
                <div class="home__content-first">
                    <h2 class="home__content-title">
                        <span>The</span>
                        <span>Most</span>
                        <span>Popular</span>
                        <span>Videos:</span>
                    </h2>

                    <div class="home__content-cards">
                        <app-video-card
                        *ngFor="let video of popularVideos"
                        [video]="video"
                        >
                        </app-video-card>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>