// Styles for 'Videos'
.videos {
    &__container {
        margin-top: 120px;
        margin-bottom: 100px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

// Styles For Spinner
.spinner {
    width: 40px;
    height: 40px;
    border-top-color: #FFF;
    border-left-color: #FFF;
    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    margin: auto;

    &-container {
        display: flex;
        margin-top: var(--mb-48);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    position: relative;

    &__title {
        display: block;
        position: absolute;
        top: 50%;
        left: 40%;
        font-size: var(--big-font-size);
        color: var(--text-color-light);
        font-weight: var(--font-black);
        text-transform: uppercase;
    }
}

.hidden {
    display: none !important;
}