<section class="videos parallax-two">
    <div class="videos__container container">
        <ng-container *ngIf="!isFirstLoad">
            <div class="videos__content">
                <app-video-card
                *ngFor="let video of videos"
                [video]="video"
                >
                </app-video-card>
            </div>

            <div
            *ngIf="isLoading"
            class="spinner-container"
            >
                <span class="spinner"></span>
            </div>
        </ng-container>
    </div>

    <div [ngClass]="('modal ' + (videos.length == 0? '' : 'hidden'))">
        <h2 class="modal__title">Videos not found!</h2>
    </div>
</section>