<article class="comments">
    <div class="comments__container">
        <div class="comments__img">
            <img src="#" alt="User Image"/>
        </div>

        <div class="comments__info">
            <div class="comments__info-name">{{User.name}}</div>
            <div class="comments__info-status">{{User.status}}</div>
        </div>
        
        <div class="comments__date">{{User.date | date}}</div>

        <div class="comments__content">
            <div class="comments__content-text">{{User.text}}</div>
        </div>
    </div>
</article>